/* mobile */
@media (max-width: 767.98px) {
    .nav {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .container {
        margin: 0;
    }

    .question {
        height: 60%;
        border-radius: 30px;
    }

    .question__desc {
        font-size: 3rem;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 999.98px) {
    
}