/* Màn hình nhỏ hơn 600px */
@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

/* Màn hình từ 600px đến 1024px (tablet) */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    .container {
        width: 70%;
    }
}

/* Màn hình lớn hơn 1024px (desktop) */
@media screen and (min-width: 1025px) {
    .container {
        width: 40%;
    }
}
