html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-bg: #2E2E2E;
    --dark-text: #F5F5F5;

    --light-bg: #fff;
    --light-text: #000;

    --color-hover: linear-gradient(to right, #ff0000, #ff5757, #ff66c4, #ff9900, #ffde59, #7ed957, #009bde, #5ce1e6, #5471ff, #004bad, #cb6ce6, #5e17eb);
    --color-blur: #777777c0;    
}

body {
    background: var(--light-bg);
    color: var(--light-text);
    overflow: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

section {
    min-height: 100vh;
}

img {
    width: 100%;
}

button {
    touch-action: manipulation;
}
/* =================================================MODE================================================= */
.switch {
    font-size: 12.75px; /* 17px * 3/4 */
    position: relative;
    display: inline-block;
    width: 48px; /* 64px * 3/4 */
    height: 25.5px; /* 34px * 3/4 */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px; /* Giữ lại giá trị này cho tỷ lệ chính xác */
}

.slider:before {
    position: absolute;
    content: "";
    height: 22.5px; /* 30px * 3/4 */
    width: 22.5px; /* 30px * 3/4 */
    border-radius: 16.875px; /* 20px * 3/4 */
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 4.5px; /* 6px * 3/4 */
    left: 27px; /* 36px * 3/4 */
    z-index: 1;
    width: 18px; /* 24px * 3/4 */
    height: 18px; /* 24px * 3/4 */
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 3.75px; /* 5px * 3/4 */
    left: 3.75px; /* 5px * 3/4 */
    z-index: 1;
    width: 18px; /* 24px * 3/4 */
    height: 18px; /* 24px * 3/4 */
}

/* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.checkMode:checked + .slider {
    background-color: #183153;
}

.checkMode:focus + .slider {
    box-shadow: 0 0 1px #183153;
}

.checkMode:checked + .slider:before {
    transform: translateX(22.5px); /* 30px * 3/4 */
}
/* =================================================NAVBAR================================================= */
.nav {
    width: 300px;
    height: 100vh;
    background-color: #0c65b3;
    color: white;

    position: fixed;
    z-index: 1;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
}

.logo {
    width: 80%;
    margin-bottom: 50px;
}

.nav__time {
    aspect-ratio: 1;
    background: #fff;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 0px solid #000;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 10px #ccccccbf;
    -webkit-box-shadow: 0px 0px 2px 10px #ccccccbf;
    -moz-box-shadow: 0px 0px 2px 10px #ccccccbf;
    padding: 20px;

    position: fixed;
    z-index: 1;
    top: 180px;
}

.time__desc {
    font-size: 2.25rem;
}

.time__cnt {
    font-size: 2rem;
    color: #f26022;
}

.nav__line {
    width: 300px;
    border-top: 1px solid #ccc;
}

.question {
    width: 300px;
    height: 100%;
    background: #f2f8ff;
    border-radius: 30px 30px 0 0;


    display: flex;
    align-items: center;
    flex-direction: column;

    color: #000;
    padding: 100px 10px 10px;
}

.question__desc {
    font-size: 4rem;
}

.question__table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.question__item {
    border-radius: 50%;
    cursor: pointer;

    background: #ccc;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    transition: 0.3s;
}

.question__item:hover {
    outline: 3px solid #ccccccbf;
}

.question__item:active {
    outline: none;
}

.question__item.active {
    outline: 5px solid #ccccccbf;
}

.blue {
    background: #0c65b3;
}
.green {
    background: #2cf58d;
}
.red {
    background: #ff5050;
}
/* =================================================CONTAINER================================================= */
.container {
    margin-left: 300px;
    padding: 50px;

    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    height: 100vh;
}
/* =================================================SUBMIT================================================= */
.submit {
    margin-left: calc(100% - 200px);
    margin-bottom: 30px;
    width: 130px;
    height: 40px;
    color: #fff; /* Giữ màu chữ trắng */
    border-radius: 5px;
    padding: 10px 25px; /* Padding mặc định */
    background: rgb(255, 27, 0); /* Màu nền đỏ */
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    line-height: 40px; /* Giữ chiều cao và căn giữa nội dung */
    border: none; /* Không có viền */
    padding: 0; /* Đặt padding riêng cho .submit */
}


.submit:hover {
    color: #f0094a;
    background: transparent;
    box-shadow:none;
}
.submit:before,
.submit:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.submit:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.submit:hover:before,
.submit:hover:after{
    width:100%;
    transition:800ms ease all;
}

.submit:active {
    scale: 0.9;
}
/* =================================================QUESTION================================================= */
.question__content {
    font-size: 18px;
    margin-bottom: 20px;
}

.answer {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.answer label {
    display: flex;
    font-size: 1.5rem;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.choose {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.question__btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: #b621fe;
    border: none;
    z-index: 1;
    transition: 0.3s;
    margin-right: 30px;
}

.question__btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.question__btn:hover {
    color: #fff;
    scale: 1.05;
}
.question__btn:hover:after {
    left: 0;
    width: 100%;
}
.question__btn:active {
    scale: 0.9;
}
/* =================================================ASK================================================= */
.ask {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;

    background: #ccc;
    padding: 50px;
    border-radius: 20px;
}

.ask__desc {
    font-size: 2rem;
    margin-bottom: 30px;
}
/* =================================================SCORE================================================= */
.score__desc {
    display: none;
    margin-top: 30px;
    font-size: 2.5rem;
}
